<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">

  <label>Username
    <input type="text" name="user[username]" value="">
  </label>

<% if action_url == users_url %>
  <label>Email
    <input type="text" name="user[email]" value="">
  </label>
<% end %>
  <label>Password
    <input type="password" name="user[password]">
  </label>

  <button><%= button_text %></button>

</form>
