/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require github-markdown
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   background: transparent;
   color: inherit;
   font-size: 100%;
   font: inherit;
   box-sizing: content-box;
   vertical-align: baseline;
}

 a {
   cursor: pointer;
 }

 body {
   font-family: "Helvetica Neue", Arial;
   color: #222426;
 }
.group:after {
   content: "";
   display: block;
   clear: both;
}
 .topbar {
   height: 34px;
   width: 100%;
   min-width: 1075px;
   display: block;
   background: #222426;
   position: relative;
 }

 .topbar-wrapper {
   width: 1060px;
   display: block;
   height: 100%;
   background: #222426;

   margin: auto;
 }

 .network-items {
   color: white;

   width: 147px;
   padding-top: 9px;
   float: left;
 }

 .topbar-links {

   height: 100%;
   float: right;

 }
 .links-container {

   height: 100%;
   float: left;
 }

 .user-search-container {
   display: block;
   width: 250px;
   height: 37px;
   margin: 8px auto;
 }

 .user-search-input {
   margin: 5px 0 0 20px;
   border: 1px solid black;
   padding: 2px 5px 2px 22px;
   width: 100%;
   color: #444;

   word-spacing: 0px;
   font-size: 16px;
   height: 16px;
   box-shadow: 0 1px 2px rgba(34,36,38,0.1) inset;
   line-height: normal;
   background-position: -101px -447px;
   background-image: url(/assets/sprites-50507eb7782e2ab3a2b2f5f617a7513ce33795448e6170f8e7e7f2a23b88ef9f.svg), none;
   background-repeat: no-repeat;
   background-size: auto;
   font-weight: 300;
   outline: 0;
   text-shadow: none;
 }

 .search-container {
   float: right;
   width: 237px;
   height: 100%;
   margin-top: 1px;

 }

 .search-container input {
   margin: 5px 0 0 20px;
   border: 1px solid black;
   padding: 2px 5px 2px 22px;
   width: 188px;
   color: #444;
   height: 16px;
   word-spacing: 0px;
   font-size: 13px;
   box-shadow: 0 1px 2px rgba(34,36,38,0.1) inset;
   line-height: normal;
   background-image: url(/assets/share-sprite-new-87a5f5cd82547abe85298c6e3b1e84c60306265eaf240b21fecad7aec40c2b98.svg), none;
   background-position: -269px -92px;
   background-repeat: no-repeat;
   font-weight: normal;
   outline: 0;
   text-shadow: none;
 }

::-webkit-input-placeholder {
   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   line-height: 1.4;
   color: #ccc;
 }


 .links-container a {
   text-decoration: none;
   color: #e0e0e0;
   font-size: 13px;
   line-height: 1;
   font-weight: 400;
   padding: 10px 7px 0 7px;
   display: inline-block;

 }

 .main {
   margin: auto;
   padding: 15px;
   width: 1060px;
 }

 .main-header {
   display: block;
   width: 1060px;
   height: 96px;
   padding: 0 15px;
   margin: 0 auto;
   position: relative;

 }

.main-header-logo {

   display: inline-block;
   margin: 21px 0;

   float: left;
}

.main-header-logo a {
  background-image: url(/assets/sprites-50507eb7782e2ab3a2b2f5f617a7513ce33795448e6170f8e7e7f2a23b88ef9f.svg), none;
  background-position: top left;
  text-indent: -999em;
  display: block;
  width: 200px;
  height: 50px;
  background-repeat: no-repeat;
}

.main-header-nav {
  float: right;
  position: relative;
  top: 38px;
  /*right: 15px;*/
}

.main-header-nav ul {
  list-style: none;
}

.main-nav, .main-nav li{
  float: left;
}

.main-header-nav li {
  margin-left: 3.5px;
}

.main-header-nav a:hover, .main-header-nav a.clicked {
  background: #f69c55;
}

.main-header-nav a {
  padding: 4px 10px 5px 10px;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.3em;
  background: #9ea3a9;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
  display: block;
  cursor: pointer;
  color: white;

}

.ask-question-nav {
  float: right;
}

 .sub-header {
   margin-bottom: 0;

   border-bottom: 1px solid #eaebec;
   height: 34px;
 }

 .sub-header h2,
 .answers-header h2 {
   font-size: 18px;
   font-weight: 400;
   margin: 0;
   color: #444;
   line-height: 1.3;
   float: left;
   text-align: left;
   margin-left: 10px;
 }
 .sub-header-nav {
   float: right;
   margin: 0;
   font-size: 12px;
 }

 .sub-header-nav a {
   float: left;
   display: block;
   height: 12px;
   border: 1px solid transparent;
   color: #767d84;
   border-top-width: 2px;
   border-bottom-color: #eaebec;
   text-decoration: none;
   line-height: 1;
   padding: 10px;
   margin-right: 8px;
 }

 .sub-header-nav a.clicked, .sub-header-nav a:hover {
   border-color: #eaebec;
   border-bottom-color: #fff;
   border-top-color: #f69c55;
 }

 .sub-header-nav a.clicked {
   color: black;
 }

 .sub-header-nav a:last-child {

   margin-right: 10px;
 }

 .sub-header-profile {

 }
 .question-header {
   padding: 5px 0;
   border-bottom: 1px solid #E5E5E5;
   margin-bottom: 1em;
 }

.question-header h2 {
  text-align: left;
  display: block;
  margin-bottom: 11px;
}

 .question-title {
   color: #222426;
   text-decoration: none;
   font-size: 24px;
   line-height: 1.35;
   font-weight: normal;
   margin-bottom: .5em;
 }

.featured-count-tab {
   color: #fff;
   display: inline;
   float: left;
   background-color: #0077dd;
   padding: 2.5px 5px 3px 5px;
   border-radius: 2px;
   font-size: 10px;
   text-align: left;
   position: relative;
   top: -1px;
   line-height: 1;
   margin-right: 8px;
}



 .question-index-wrapper {
   width: 100%;
 }

 .question-wrapper {
   width: 728px;
 }

 .question-index {

   font-size: 16px;
   font-weight: 400;
 }

.question-item-wrapper {
   height: 52.25px;
   border-bottom: 1px solid #eaebec;
   padding-top: 12px;
   padding-bottom: 10px;
}

.question-stats {
   float: left;
   width: 174.25px;
   height: 50px;
   display: block;
   margin-right: 10px;
}

.question-stat-count {
  float:left;
  color: #777;
  width: 38px;
  height: 38px;
  padding: 5px;
  padding-bottom: 6px;
  margin-right: 3px;
}

.stat-count {
  text-align: center;

  margin-bottom: 4px;

  height: 16px;
  width: 100%;
  font-size: 17px;
  font-weight: 300;

}


.stat-label {
  line-height: 16.9px;

  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 11px;
}


.answers {
  color: black;
  width: 44px;
  height: 38px;
  padding-left: 6px;
  padding-right: 6px;
}

.answers.answered {
  background-color: #75845c;
  color: white;
}

.answers.answered.accepted {
  color: rgb(225, 232, 24);
}

.views {
  margin-right: 7px;
}

.question-index-item {
   width: 530px;
   text-align: left;
   float: left;
   height: 52.25px;
 }
 .question-link-wrapper {
   font-size: 16px;
   line-height: 1.3;
   width: 530px;
   height: 20px;
   margin-bottom: 5.25px;
   display: block;
}
 .question-link {
   color: rgb(0, 119, 204);
   margin-bottom: 19.2px;
 }

 .question-link:hover,
 .question-details-author:hover,
 .answer-details-author:hover {
   color: rgb(51, 170, 255);
   cursor: pointer;
 }

.question-details {

  height: 16px;
  float: right;
  padding-top: 4px;
  text-align: right;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.question-details-time:hover {
  color: rgb(0, 119, 204);
  cursor: pointer;
}

.question-details-author,
.answer-details-author {
  color: #0077cc;
}

/* Question Answers */
.question, .answer {
  margin-left: 61px;
}

.answers-wrapper {
  color: #222426;
  float: left;
  padding-top: 10px;
  width: 728px;
}

.answers-header {
  margin-top: 10px;
  height: 34px;
  border-bottom: 1px solid #eaebec;
  margin-bottom: 15px;
}

.answer {
  padding: 20px 0;
  border-bottom: 1px solid #eaebec;
}

.form-container {
  border: 1px solid rgb(230, 230, 230);
  width: 280px;
  display: block;
  padding: 30px;
  margin: auto;

}

.users-form label {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

.users-form input {
  width: 263px;
  height: 18px;
  outline: none;
  display: block;
  padding: 8px;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 5px;
  margin-bottom: 10px;
}

.users-form input:hover {
  border-color: lightblue;
}

.users-form input:focus {
  box-shadow: none;
  border: 1px solid lightblue;
}

.user-avatar-preview-image {
  border: 2px solid black;
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 3px;
}



.form-controls {
  width: 100%;
  height: 37px;
  padding-top: 20px;
}

.guest-login {
  float: left;
  position: relative;
  top: 15px;
  text-decoration: none;
  color: #0077cc;
  font-size: 13px;
}

.form-controls .submit {
  float: right;
  display: block;
  outline: none;
  background: #0077cc;
  margin: 5px 0 5px 0;
  width: 130px;

  height: 37px;
  text-align: center;
  color: white;
  padding: 12px 40px;
  box-shadow: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  border-radius: 3px;
  font-size: 13px;
}

.form-controls .discard,
.form-controls button {
  float: left;
  display: block;
  outline: none;
  background: #0077cc;
  margin: 5px 0 5px 0;
  width: 130px;

  height: 37px;
  text-align: center;
  color: white;
  padding: 12px 40px;
  box-shadow: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  border-radius: 3px;
  font-size: 13px;
}

.topbar-user-info {
  float: left;

  padding: 0 5px 0 5px;
  height: 100%;
  cursor: pointer;
}

.topbar-user-info:hover {
  background-color: #444;
}

.avatar-wrapper {
  display: inline-block;
  width: 35px;
  height: 100%;
}

.user-info {
  width: 728px;
  margin: 0 auto;
}

.profile-picture {
  position: relative;

  margin: 0 auto;
  overflow: hidden;

  width: 300px;
}


.avatar-large {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
   -moz-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.avatar-large:hover {
  -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.topbar-user-info img {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-top: 1px;
}

.topbar-user-info .reputation {
  float: right;
  color: #e0e0e0;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding-top: 10px;
  padding-right: 5px;

}

.logout {
  float: left;
  display: block;
  border: none;
  outline: none;

  padding: 5px;
  box-shadow: none;
  background: #0077cc;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
}

.form-error {
  position: absolute;
  padding: 15px 35px 15px 15px;
  text-align: left;
  font-size: 13px;
  color: white;
  top: 215px;
  left: 60%;
  background-color: #C04848;
}

.message-tip {
  position: absolute;
  top: 0;
  left: -9px;
  border-left: 9px solid transparent;
  border-top: 9px  solid #C04848;
}


/* Question Form */

.question-form-wrapper {
  width: 665px;
  float: left;
}

.question-form {

  font-size: 13px;
  line-height: 1.3em;
  display: block;
}

.form-item-title {

  display: block;
  width: 668px;
  height: 44px;

  padding: 10px 0 15px 0;
}

.form-item-title label {
  font-weight: bold;
  font-size: 13px;
  width: 40px;
  margin: auto;

  padding-right: 14px;
  padding-bottom: 3px;

}

.title-field {
  margin: 5px 0;
  box-shadow: 0 1px 2px rgba(34,36,38,0.1) inset;
  width: 598px;
  height: 16px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
}

.title-field:focus {
  border-color: #0077CC;
  outline: 0;
}

.body-editor {
  width: 660px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.body-field {
  width: 660px;
  font-size: 14px;
  line-height: 1.3em;
  height: 200px;
  background-attachment: scroll;
  background-size: auto;
  flex-direction: column;
  white-space: pre-wrap;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Menlo';
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  color: #444;
  resize: none;
}

.body-field:focus {
  border: 1px solid rgb(0, 119, 204);
  outline: 0;
}

.gripple {
  background-image: url(sprites-50507eb7782e2ab3a2b2f5f617a7513ce33795448e6170f8e7e7f2a23b88ef9f.svg), none;;
  background-position: 279px -366px;
  background-size: initial;
  background-repeat: no-repeat;
  width: 658px;
  margin-top: -4px;
  border: 1px solid rgb(221, 221, 221);
  border-top: none;
  height: 9px;
  overflow: hidden;
  cursor: s-resize;
  background-color: rgb(238, 238, 238);
}

.body-preview {
  width: 660px;
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px 0;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.body-preview p {
  margin-bottom: 1em;
  font-size: 100%;
  display: block;
  line-height: 1.3em;
}

.form-submit {
  padding: 10px 0 15px 0;
  display: block;

}

.submit-button {
  padding: .6em .8em;
  color: white;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #1777b7;
  border-radius: 3px;
  font-size: 100%;
  background: #009afd;
  line-height: 1;
  margin: 5px 0;

}



.discard-question {
  margin-left: 4px;
  text-decoration: none;
  cursor: pointer;
  color: #0077CC;
  line-height: 1.3em;
  font-size: 100%;
}


/* Users Index */
.user-item {
  width: 25%;
  float: left;
}

.user-item:nth-child(4n) {
  float: right;
}
.user-info {
  overflow: hidden;
  margin-bottom: 1.2em;
  box-sizing: border-box;
  color: #52575c;
  padding: 5px 6px 7px 7px;
  width: 100%;

}
.user-avatar-thumb {
  float: left;
  width: 48px;
  height: 48px;

}
.user-avatar-thumb img {
  border-radius: 2px;

  width: 48px;
  height: 48px;
}

.user-details {
  float: left;
  width: calc(100% - 64px);
  margin-left: 9px;
}

.user-details a {
  color: #0077cc;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}

.user-details a:hover {
  color: #3af;
}

.user-location {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

/*       Vote Controls      */

.vote {
  width: 46px;
  display: block;
}

.vote-up {
  background-image: url(sprites-50507eb7782e2ab3a2b2f5f617a7513ce33795448e6170f8e7e7f2a23b88ef9f.svg), none;
  background-size: initial;
  height: 30px;
  background-position: 3px -170px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 3px;
  overflow: hidden;
  background-repeat: no-repeat;


}

.vote-count {
  margin: 8px 0;
  display: block;
  color: #777;
  font-size: 20px;
  text-align: center;

}

.vote-down {
  margin-bottom: 10px;
  height: 30px;
  background-image: url(sprites-50507eb7782e2ab3a2b2f5f617a7513ce33795448e6170f8e7e7f2a23b88ef9f.svg), none;
  background-size: initial;
  background-position: 3px -220px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}


/*                          Progress Spinner                              */

.spinner {
  width: 200px;
  margin-left: calc(50% - 50px);
  margin-top: 200px;
}


/* Three Dots */

.three-bounce > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  margin: 0 1px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.three-bounce .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.three-bounce .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
